@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Bellefair&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

nav ul li {
    transition: .2s ease-in-out;
    cursor: pointer;
}

nav ul li:hover {
    color: gainsboro;
}

nav ul {
    position: relative;
}

nav ul::after {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(163, 163, 163);
    opacity: 20%;
    filter: blur(2px);
    z-index: -1;
    position: absolute;
    display: block;
}

.line {
    position: relative;
}

.line::after {
    content: "";
    left: 0;
    height: 1px;
    width: 120%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    display: block;
    position: absolute;
}

.explore {
    position: relative;
    cursor: pointer;
}

.explore::after {
    content: "";
    top: 50%;
    left: 50%;
    height: 150%;
    width: 155%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, .3);
    position: absolute;
    display: block;
    transition: .2s ease-in-out;
}

.explore:hover::after {
    opacity: 1;
}


@media (min-width: 676px) {
    body {
        background-image: url('assets/home/background-home-tablet.jpg');
    }
}

@media (min-width: 976px) {
    body {
        background-image: url('assets/home/background-home-desktop.jpg');
    }
}